<header>
    <nav class="navbar navbar-expand-lg navbar-dark color-bg-cafe">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.gif" width="60px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/conocenos">Conócenos</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Aspirantes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Alumnos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Profesores</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</header>