<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        Ofertas educativas
    </title>
</head>

<body>

    <header class="color-bg-cafe">
        <nav class="navbar navbar-expand-md navbar-dark container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.gif" width="58px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/conocenos">Conócenos</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/aspirantes">Aspirantes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/alumnos">Alumnos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profesores">Profesores</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <section class="d-flex justify-content-center justify-content-md-end bg-light py-3">
        <h4 class="px-4 font-montserrat-bold color-text-cafe">
            Oferta educativa
        </h4>
    </section>

    <main>
        <section class=" contenedor ">
            <div class="contenedor-img ">
                <img src="/images/indice6.jpg" alt="indice 6">
            </div>
            <article class="contenedor-text-sub ">
                <h3 class="font-monserrat-bold color-primary">Actividades paraescolares</h3>
                <p class="font-monserrat ">
                    Tiene la finalidad de preparar al alumno para su continuación en estudios superiores, ya que en éste se abordan asignaturas que le permiten profundizar en aspectos particulares de las diversas disciplinas, con la intención de que adquiera los elementos
                    necesarios que le ayuden a definir sus intereses profesionales.
                </p>
                <div class="row mt-5">
                    <div class="col-md-3 col-6 text-center">
                        <a href="/fisica" class="nav-link text-dark">
                            <img src="/images/indice4.jpg" class="rounded" width="170">
                            <p class="text-center">Ciencias Fisicas</p>
                        </a>
                    </div>
                    <div class="col-md-3 col-6 text-center">
                        <a href="/biologia" class="nav-link text-dark">
                            <img src="/images/indice18.jpg" class="rounded" width="170">
                            <p class="text-center">Ciencias Biológicas</p>
                        </a>
                    </div>
                    <div class="col-md-3 col-6 text-center">
                        <a href="/sociales" class="nav-link text-dark">
                            <img src="/images/indice22.jpg" class="rounded" width="170">
                            <p class="text-center">Ciencias Sociales</p>
                        </a>
                    </div>
                    <div class="col-md-3 col-6 text-center">
                        <a href="/humanidades" class="nav-link text-dark">
                            <img src="/images/indice13.jpg" class="rounded" width="170">
                            <p class="text-center">Humanidades y artes</p>
                        </a>
                    </div>
                </div>
            </article>

        </section>
    </main>

</body>

<footer class="py-2 color-bg-cafe ">
    <section class="text-center text-white ">
        <i class="fa fa-copyright " aria-hidden="true "></i> 2021- PREFECO
    </section>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

</html>