<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        Aspirantes
    </title>
</head>

<body>
    <header class="color-bg-cafe">
        <nav class="navbar navbar-expand-md navbar-dark container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.gif" width="58px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/conocenos">Conócenos</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/aspirantes">Aspirantes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/alumnos">Alumnos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profesores">Profesores</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <section class="d-flex justify-content-center justify-content-md-end bg-light py-3">
        <h4 class="px-4 font-montserrat color-text-cafe">Aspirantes</h4>
    </section>

    <main class="mt-5 mb-5 py-2 container">

        <section class="card-columns">

            <article class="card">
                <img class="card-img-top" src="/images/indice20.jpg" style="width: 100%; height: 16rem;" alt="indice 14">
                <div class="card-body">
                    <h4 class="card-title">Oferta educativa
                    </h4>
                    <p class="card-text">
                        Tiene la finalidad de brindar una formación general en lo que se ha considerado como mínimo esencial para todo bachiller a nivel nacional, es decir, aquellos conocimientos, habilidades....
                    </p>
                </div>
                <div class="card-footer">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ver mas
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Formación básicas</a>
                            <a class="dropdown-item" href="#">Formación propedéutica y el trabajo</a>
                            <a class="dropdown-item" href="#">Actividades paraescolares</a>
                            <a class="dropdown-item" href="#">Área de egreso</a>
                            <a class="dropdown-item" href="#">Ciencias físicas</a>
                            <a class="dropdown-item" href="#">Ciencias biológicas y de salud</a>
                            <a class="dropdown-item" href="#">Ciencias sociales</a>
                            <a class="dropdown-item" href="#">Humanidades y artes</a>
                        </div>
                    </div>
                </div>
            </article>


            <article class="card">
                <img class="card-img-top" src="/images/indice24.jpg" style="width: 100%; height: 16rem;" alt="indice 19">
                <div class="card-body">
                    <h4 class="card-title">Preguntas frecuentes</h4>
                    <p class="card-text">
                        Ofrecer servicios educativos de calidad para formar personas con alto sentido de responsabilidad social, que participen de manera productiva y competitiva en el mercado laboral....
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/preguntas" class="btn btn-primary">Leer más</a>
                </div>
            </article>


            <article class="card">
                <img class="card-img-top" src="/images/indice3.jpg" style="width: 100%; height: 16rem;" alt="indice 5">
                <div class="card-body">
                    <h4 class="card-title">Informes</h4>
                    <p class="card-text">Alcanzar los más altos niveles de aprovechamiento y mantener la calidad educativa en los alumnos conformándonos como la institución de mayor prestigio dentro de nuestro subsistema....</p>
                </div>
                <div class="card-footer">
                    <a href="/informes" class="btn btn-primary">Leer más</a>
                </div>
            </article>

        </section>
    </main>

    <footer class="py-2 color-bg-cafe ">
        <section class="text-center text-white ">
            <i class="fa fa-copyright " aria-hidden="true "></i> 2021- PREFECO
        </section>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

</body>

</html>