<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs', {titulo: 'conocenos'}); %>

    <body>
        <%- include('./components/header.ejs'); %>

            <section class="d-flex justify-content-center justify-content-md-end bg-light py-3">
                <h4 class="px-4 font-montserrat">Conócenos</h4>
            </section>

            <main class="mt-5 mb-5 py-2 container">

                <section class="card-columns">

                    <article class="card">
                        <img class="card-img-top" src="/images/indice14.jpg" style="width: 100%; height: 16rem;" alt="indice 14">
                        <div class="card-body">
                            <h4 class="card-title">Historia
                            </h4>
                            <p class="card-text">
                                La Esc. Prep. Fed. por Coop. “Profr. Augusto Hernández Olivé fue fundada en el año de 1958 por prestigiados ciudadanos que visionaron que los jóvenes de Paraíso contaban con todo el....
                            </p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">Leer más</button>
                        </div>
                    </article>


                    <article class="card">
                        <img class="card-img-top" src="/images/indice19.jpg" style="width: 100%; height: 16rem;" alt="indice 19">
                        <div class="card-body">
                            <h4 class="card-title">Objetivos</h4>
                            <p class="card-text">
                                Ofrecer servicios educativos de calidad para formar personas con alto sentido de responsabilidad social, que participen de manera productiva y competitiva en el mercado laboral....
                            </p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">Leer más</button>
                        </div>
                    </article>


                    <article class="card">
                        <img class="card-img-top" src="/images/indice5.jpg" style="width: 100%; height: 16rem;" alt="indice 5">
                        <div class="card-body">
                            <h4 class="card-title">Misión y Visión.</h4>
                            <p class="card-text">Alcanzar los más altos niveles de aprovechamiento y mantener la calidad educativa en los alumnos conformándonos como la institución de mayor prestigio dentro de nuestro subsistema.</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">Leer más</button>
                        </div>
                    </article>

                </section>
            </main>



            <%- include('./components/footer.ejs'); %>

    </body>

</html>