<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs', {titulo: 'Historia'}) ; %>

    <body>

        <%- include('./components/header'); %>

            <main class="bg-img-historia">
                <%- include('./components/banner', {text:'Conocenos'}) ; %>
                    <section>
                        <article class="mt-5 container text-justify">
                            <h4 class="font-monserrat-bold">Historia</h4>
                            <p class="font-monserrat">
                                La Esc. Prep. Fed. por Coop. “Profr. Augusto Hernández Olivé fue fundada en el año de 1958 por prestigiados ciudadanos que visionaron que los jóvenes de Paraíso contaban con todo el potencial necesario para que en un futuro se transformaran en hombres
                                útiles a la sociedad y la patria, capaces de demostrar que el estudio es el camino del progreso y comprometidos en asumir una responsabilidad tan grande y permanente como lo fue, lo es, y ha sido mantener el prestigio y
                                nivel académico de esta institución, nos referimos a: Sr. Manuel A. Bueno Franyutti, Profr. Augusto Hernández Olivé, Lic. Carlos A. Madrazo Becerra, Sr. Cenobio Santos Magaña, y primer director del plantel, el Lic. Ezequiel
                                Galindo Pérez. A décadas de su fundación, su nivel académico te garantiza una educación integral de calidad y a la vanguardia con la nueva reforma de la educación media superior implementado a partir del ciclo escolar 2008-2009.

                            </p>
                        </article>

                    </section>
            </main>

    </body>

    <%- include('./components/footer.ejs') ; %>

</html>