<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        Informes
    </title>
</head>

<body>
    <header class="color-bg-cafe">
        <nav class="navbar navbar-expand-md navbar-dark container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.gif" width="58px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/conocenos">Conócenos</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/aspirantes">Aspirantes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/alumnos">Alumnos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profesores">Profesores</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <main class="container-fluid mb-5 mt-2">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/images/indice15.jpg" class="w-100 h-100" alt="">
            </div>
            <div class="col-md-6">
                <img src="/images/indice16.jpg" class="w-100 h-100" alt="">
            </div>
            <div class="col-md-12 mt-3">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <h3>Informes</h3>
                        <p>Cómo contactar con nosotros.</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="w-100">
                            <div class="text-primary">Número de telefonico</div>
                            <div>3358092-0449331258360</div>
                            <div class="mt-1 text-primary">Facebook</div>
                            <div>Prefeco</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class=" w-100 ">
                            <div class="text-primary ">Correo</div>
                            <div>prefecotabascooficial@hotmail.com</div>
                            <div class="mt-1 text-primary ">Instagram</div>
                            <div>PrefecoOficial</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 ">
                        <div class=" w-100 ">
                            <div class="text-primary ">Ubicación</div>
                            <div>Prolongación de puente S/N Boulevard "Manuel Antonio Romero Zurita " Col Quintin Aráz, código postal 86600 paraiso | tabasco | méxico</div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="py-2 color-bg-cafe ">
        <section class="text-center text-white ">
            <i class="fa fa-copyright " aria-hidden="true "></i> 2021- PREFECO
        </section>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

</body>

</html>