<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs', {titulo: 'inicio'}); -%>

    <body>
        <%- include('./components/header.ejs'); %>

            <main class="bg-img-inicio">
                <div class="row margin-delete justify-content-center align-items-center">
                    <div class="p-2 mt-5 col-8 text-center">
                        <h3 class="color-text font-montserrat">ESCUELA PREPARATORIA FEDERAL POR COOPERACIÓN</h3>
                        <h1 class="color-text font-montserrat-bold">PROFR. AUGUSTO HERNÁNDEZ OLIVE</h1>
                        <button class="btn btn-cafe">Prefeco</button>
                    </div>
                </div>
            </main>

            <%- include('./components/footer.ejs'); %>

    </body>

</html>