<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs', {titulo: 'Historia'}) ; %>

    <body>

        <%- include('./components/header'); %>

            <main class="bg-img-historia">
                <%- include('./components/banner', {text:'Conocenos'}) ; %>
                    <section class="mt-5 container">
                        <article class="text-justify ">
                            <h4 class="font-monserrat-bold">Visión</h4>
                            <p class="font-monserrat">
                                Alcanzar los más altos niveles de aprovechamiento y mantener la calidad educativa en los alumnos conformándonos como la institución de mayor prestigio dentro de nuestro subsistema. Con una infraestructura de primera, en modelos educativos innovadores
                                y ética constante que respondan a las exigencias de la competitividad que la sociedad demanda.
                            </p>
                        </article>
                        <article class="text-justify ">
                            <h4 class="font-monserrat-bold">Misión</h4>
                            <p class="font-monserrat">
                                Ser una institución de educación media superior que ofrece una formación integral generadora en competencias y actitudes en los alumnos, facilitando su ingreso al nivel superior y la incorporación a la vida productiva. Con valores y principios que responden
                                las necesidades de la sociedad moderna, utilizando los modelos educativos de calidad.
                            </p>
                        </article>

                    </section>
            </main>

    </body>

    <%- include('./components/footer.ejs') ; %>

</html>