<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        MisionVision
    </title>
</head>

<body>
    <header class="color-bg-cafe">
        <nav class="navbar navbar-expand-md navbar-dark container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.gif" width="58px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/conocenos">Conócenos</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/aspirantes">Aspirantes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/alumnos">Alumnos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profesores">Profesores</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <section class="d-flex justify-content-center justify-content-md-end bg-light py-3">
        <h4 class="px-4 font-montserrat-bold color-text-cafe">
            Visión y Misión
        </h4>
    </section>
    <main class="bg-img-historia">

        <section class="contenedor">
            <div class="contenedor-img">
                <img src="/images/indice7.jpg" alt="indice 7">
            </div>
            <section class="contenedor-text-sub">
                <div class="">
                    <article class="">
                        <h4 class="color-primary font-monserrat-bold">Visión</h4>
                        <p class="font-monserrat">
                            Alcanzar los más altos niveles de aprovechamiento y mantener la calidad educativa en los alumnos conformándonos como la institución de mayor prestigio dentro de nuestro subsistema. Con una infraestructura de primera, en modelos educativos innovadores
                            y ética constante que respondan a las exigencias de la competitividad que la sociedad demanda.
                        </p>
                    </article>
                    <article class="">
                        <h4 class="color-primary font-monserrat-bold">Misión</h4>
                        <p class="font-monserrat">
                            Ser una institución de educación media superior que ofrece una formación integral generadora en competencias y actitudes en los alumnos, facilitando su ingreso al nivel superior y la incorporación a la vida productiva. Con valores y principios que responden
                            las necesidades de la sociedad moderna, utilizando los modelos educativos de calidad.
                        </p>
                    </article>
                </div>
            </section>

        </section>
    </main>

</body>

<footer class="py-2 color-bg-cafe ">
    <section class="text-center text-white ">
        <i class="fa fa-copyright " aria-hidden="true "></i> 2021- PREFECO
    </section>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

</html>