/* estilos del inicio */

.contenedor {
    width: 100vw;
    height: 90vh;
    position: relative;
    display: flex;
}

.contenedor-img img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 90vh;
    opacity: 0.6;
}

.contenedor-text {
    position: absolute;
    align-items: center;
    z-index: 2;
    top: 35%;
    left: 15%;
    right: 15%;
    text-align: center;
}


/* estilos del inicio */

.contenedor-text-sub {
    top: 10%;
    position: absolute;
    align-items: center;
    z-index: 2;
    left: 15%;
    right: 15%;
    text-align: justify;
}

.color-primary {
    color: #194bb0;
}

.color-text {
    color: #0e1319;
}

.color-text-cafe {
    color: rgb( 109, 76, 65);
}

.color-bg-cafe {
    background-color: rgb( 109, 76, 65);
}

.btn-cafe {
    background-color: rgb( 121, 85, 72);
    color: rgb( 255, 255, 255);
}

.btn-cafe:hover {
    background-color: rgb( 62, 39, 35);
    color: rgb( 255, 255, 255);
}

.font-montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200px;
}